@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eee;
  font-family: 'Nunito', sans-serif;
}
